<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="add Product">
        <br>
        <form>
            
                <label for="pname">product name:</label><br>
                <input type="text" id="Pname" name="Pname"><br>
                <label for="pprice">Product Price:</label><br>
                <input type="text" id="pprice" name="pprice"><br>
             
              
            
                <label for="fname">product quantity:</label><br>
                <input type="text" id="fname" name="fname"><br>
               
            
            <input type="submit" class="fadeIn fourth" value="Add Item">
          </form>
       
        
          <mat-card class="card">
      
          </mat-card>
    </mat-tab>
<!--  -->
    <mat-tab label="update Products">
        <br>
        
       
        
          <mat-card class="card">
      
          </mat-card>
    </mat-tab>
<!--  -->
    <mat-tab label="Delete products">
        <br>
        
       
        
          <mat-card class="card">
      
          </mat-card>
    </mat-tab>
<!--  -->
    <mat-tab label="View request">
        <br>
        
       
        
          <mat-card class="card">
      
          </mat-card>
    </mat-tab>
<!--  -->
    <mat-tab label="Add Employee">
        <br>
        
       
        
          <mat-card class="card">
      
          </mat-card>
    </mat-tab>

    <mat-tab label="Delete Employee">
        <br>
        
       
        
          <mat-card class="card">
      
          </mat-card>
    </mat-tab> 
    
    <mat-tab label="Generate Reports">
        <br>
        
       
        
          <mat-card class="card">
      
          </mat-card>
    </mat-tab> 
  </mat-tab-group>