<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="add Product">
        <br>
        <form [formGroup]="addRef">
            
                <label for="pname">product id:</label><br>
                <input type="text" id="Pname" formControlName="_id"
                name="Pname"><br>

                <label for="pname">product name:</label><br>
                <input type="text" id="Pname" formControlName="name"
                name="Pname"><br>
 

                <label for="pprice">Product quantity:</label><br>
                <input type="text" id="pprice" formControlName="qty"
                name="pprice"><br>
             
              
            
                <label for="fname">product price:</label><br>
                <input type="text" formControlName="price"
                id="fname" name="fname"><br>
               
            
            <input type="submit" class="fadeIn fourth" (click)="addproduct()" value="Add Item">
          </form>
       
        
          <mat-card class="card">
      
          </mat-card>
    </mat-tab>
<!--  -->
    <mat-tab label="update Products">
        <br>
        <form [formGroup]="updateRef">
            
          <label for="pname">product id:</label><br>
          <input type="text" id="Pname" formControlName="_id"
          name="Pname"><br>

          <label for="pname">product quantity:</label><br>
          <input type="text" id="Pname" formControlName="qty"
          name="Pname"><br>
          
          <label for="pname">product price:</label><br>
          <input type="text" id="Pname" formControlName="price"
          name="Pname"><br>
          <input type="submit" class="fadeIn fourth" (click)="updateproduct()" value="Update Item">
          </form>
       
       
        
          <mat-card class="card">
      
          </mat-card>
    </mat-tab>
<!--  -->
    <mat-tab label="Delete products">
        <br>
        <form [formGroup]="deleteRef">
            
          <label for="pname">product id:</label><br>
          <input type="text" id="Pname" formControlName="_id"
          name="Pname"><br>
          <input type="submit" class="fadeIn fourth" (click)=" deleteproduct()" value="Delete Item">
          </form>
       
        
          <mat-card class="card">
      
          </mat-card>
    </mat-tab>
<!--  -->
    <mat-tab label="View request">
        <br>
        
       
        
          <mat-card class="card">
      
          </mat-card>
    </mat-tab>
<!--  -->
    <mat-tab label="Add Employee">
        <br>
        <form [formGroup]="updateRef">
            
          <label for="pname">Employee id:</label><br>
          <input type="text" id="Pname" formControlName="_id"
          name="Pname"><br>

          <label for="pname">Employee name:</label><br>
          <input type="text" id="Pname" formControlName="name"
          name="Pname"><br>
          
          <label for="pname">Employee email:</label><br>
          <input type="text" id="Pname" formControlName="price"
          name="Pname"><br>
          <input type="submit" class="fadeIn fourth" (click)="updateproduct()" value="Add Employee">
          </form>
       
        
          <mat-card class="card">
      
          </mat-card>
    </mat-tab>

    <mat-tab label="Delete Employee">
        <br>
        
       
        
          <mat-card class="card">
      
          </mat-card>
    </mat-tab> 
    
    <mat-tab label="Generate Reports">
        <br>
        
       
        
          <mat-card class="card">
      
          </mat-card>
    </mat-tab> 
  </mat-tab-group>