<div>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="user.component.css">

<div class="wrapper fadeInDown">
  <div id="formContent">
 

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
      <a href="/userpanel">
      <input type="button" class="fadeIn fourth" value="Log In"></a> 

      <a href="/raiserequest">
        <input type="button" class="fadeIn fifth" value="Raise Ticket" >
      </a>
      

    </form>

    <div id="formFooter">
      
        <a class="underlineHover" href="signup">Sign-Up</a>
          <a class="nav-Link" [routerLink]= "['signup']" routerLinkActive="active"></a>
       
      
     
    </div>

  </div>
</div>
</div>