<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Send Request">
        <br>
        
       
        
          <mat-card class="card">
      
          </mat-card>
    </mat-tab>

<!--  -->
    <mat-tab label="Update Order Status">
        <br>
        
       
        
          <mat-card class="card">
      
          </mat-card>
    </mat-tab>

<!--  -->
    <mat-tab label=" Unlock Users">
        <br>
        
       
        
          <mat-card class="card">
      
          </mat-card>
    </mat-tab>
    
<!--  -->

<mat-tab label="Edit Profile">
    <br>
    
   
    
      <mat-card class="card">
  
      </mat-card>
</mat-tab>

<!--  -->

<mat-tab label="View User Tickets">
  <br>
  
 
  
    <mat-card class="card">
      <table>
        <thead>
          <tr>
            <th>Username</th>
            <th>reason</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let ticket of tickets">
            <td> {{ ticket.username }}</td>
            <td> {{ ticket.request }}</td>
          </tr>
        </tbody>
      </table>
    </mat-card>
</mat-tab>