
   <div>
    <!-- <input type="button" value="add admin"/> -->

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="signup.component.css">
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon
    <div class="fadeIn first">
      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
    </div> -->

    <!-- Login Form -->
    <form>
        <label for="exampleInputEmail1">Enter Your Email Address</label>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="Email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      <br/>
      <label for="exampleInputEmail1">Verify Your Email Address</label>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="Email">
      <br/>
      <label for="exampleInputPassword1">Create a new Password</label>
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
      <br/>
      <label for="exampleInputPassword1">Confirm your new Password</label>
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
      <br/>
      <br/>
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check to continue</label>
      <br/>
      <br/>
      <a href="/userlogin">
      <input type="button" class="fadeIn fourth" value="Sign Up"></a>
    </form>



  


    <!-- Remind Passowrd -->
    <!-- <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
</div> -->